.DS_Store
.idea

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.jmx
*.hprof
*.project
*.classpath
*.settings/
*.factorypath
target/
bin/
out/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg
*.egg-info/
dist/
build/
*.env
*.venv
.env/
.venv/
.Python
pip-log.txt
pip-delete-this-directory.txt

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
*.log
*.tsbuildinfo
coverage/
.DS_Store

# C#
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.obj
*.bin
*.user
*.rsuser
*.suo
*.sln.docstates
*.sln
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
.vscode/
.vs/
TestResults/